ConnectionStrings__DefaultConnectionString=Host=localhost;Port=5433;Database=boiler_plate_db;Username=postgres;Password=Test123$
Jwt__SecretKey=CHANGE_ME_TO_A_32_CHAR_MINIMUM_SECRET_KEY
Jwt__ExpireInMinute=15
Redis__Configuration=localhost:6379
Authentication__Google__ClientId=
Authentication__Google__ClientSecret=
